service cloud.firestore {
  match /databases/{database}/documents {
    // Uploaded image.
    match /t/{kelurahanId}/n/{tpsNo}/i/{document=**} {
      // Only alllow logged in user.
      allow read: if request.auth.uid != null;
    }

    // Relawan database.
    match /r/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == userId;
    }
 
    // Referral codes.
    match /c/{code} {
      allow read: if request.auth.uid != null;
    }

    // Upserts.
    match /u/{imageId} {
      allow list: if request.query.limit <= 10 &&
                     request.auth.uid == resource.data.u;
    }
  }
}