service cloud.firestore {
  match /databases/{database}/documents {
    function getUserRole() {
      return get(/databases/$(database)/documents/r/$(request.auth.uid))
                .data.profile.role;
    }

    // Relawan database.
    match /r/{userId} {
      allow get: if request.auth.uid == userId || getUserRole() > 0;
      allow list: if request.query.limit <= 10 && getUserRole() > 0;
    }
 
    // Referral codes.
    match /c/{code} {
      allow read: if request.auth.uid != null &&
                     resource.data.claimer == null;
    }

    // Upserts.
    match /u/{imageId} {
      allow get: if request.auth.uid == resource.data.uploader.uid;
      allow list: if request.query.limit <= 1 && getUserRole() > 0;
    }
  }
}