<ng-container *ngIf="(userService.relawan$ | async) as curRel">
  <ng-container *ngIf="curRel.profile.role >= USER_ROLE.ADMIN">
    <mat-form-field style="width: 225px">
      <input
        #nama
        matInput
        placeholder="Cari Nama User"
        type="text"
        autocomplete="off"
        (input)="cari$.next($event.target.value)"
      />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="cari$.next(nama.value)">
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      *ngIf="showResult"
      (click)="showResult = false"
    >
      <mat-icon>cancel</mat-icon>
    </button>

    <p style="margin-top: 0">
      <mat-radio-group
        (change)="filterRole$.next($event.value)"
        class="role"
        [value]="ANY_ROLE"
      >
        <mat-radio-button [value]="ANY_ROLE">All</mat-radio-button>
        <mat-radio-button [value]="USER_ROLE.BANNED">Ban</mat-radio-button>
        <mat-radio-button [value]="USER_ROLE.RELAWAN">Rel</mat-radio-button>
        <mat-radio-button [value]="USER_ROLE.MODERATOR">Mod</mat-radio-button>
        <mat-radio-button [value]="USER_ROLE.ADMIN">Adm</mat-radio-button>
      </mat-radio-group>
    </p>

    <ng-container *ngIf="(relawans$ | async) as arr">
      <table
        *ngIf="showResult"
        class="alternating"
        cellspacing="0"
        cellpadding="5"
        width="400"
        border="1"
      >
        <ng-container>
          <tr [style.background-color]="'lightgray'">
            <th>Nama Orang</th>
            <th>Referrer</th>
          </tr>
          <tr *ngFor="let r of arr; let i = index">
            <td>
              <app-orang [profile]="r.profile" [activity]="true"></app-orang>
            </td>
            <td>
              <app-orang
                [profile]="r.referrer"
                [activity]="true"
                [showDr]="false"
              ></app-orang>
            </td>
          </tr>
        </ng-container>
      </table>
    </ng-container>

    <p>
      <mat-divider></mat-divider>
    </p>
  </ng-container>

  <ng-template #loading>
    <p><mat-spinner></mat-spinner></p>
  </ng-template>

  <ng-container *ngIf="(relawan$ | async) as relawan; else loading">
    <table style="margin-top: 10px">
      <tr>
        <td><img [src]="relawan.profile.pic" height="70" /></td>
        <td valign="top" style="padding-left: 5px">
          <app-orang [profile]="relawan.profile"></app-orang><br />
          Role: {{ USER_ROLE[relawan.profile.role || 0] }}<br />
          <!-- <ng-container *ngIf="curRel.profile.role >= USER_ROLE.ADMIN">
            {{ relawan.profile.email }}<br />
          </ng-container> -->
          Joined: {{ relawan.profile.loginTs | date: 'medium' }}<br />
          Referrer:
          <app-orang
            [profile]="relawan.referrer"
            [activity]="true"
            [showDr]="false"
          ></app-orang>
        </td>
      </tr>
    </table>

    <p
      *ngIf="
        curRel.profile.role >= USER_ROLE.ADMIN &&
        curRel.auth.uid != relawan.profile.uid &&
        (relawan.profile.role || 0) < USER_ROLE.ADMIN
      "
    >
      Change Role:<br />
      <mat-radio-group
        [(ngModel)]="previousRole"
        (ngModelChange)="changeRole(curRel.auth, relawan, $event)"
      >
        <mat-radio-button [value]="USER_ROLE.BANNED"
          ><span
            class="banned"
            [style.font-weight]="
              relawan.profile.role == USER_ROLE.BANNED ? 'bold' : ''
            "
            >BAN!</span
          ></mat-radio-button
        >
        &nbsp;
        <mat-radio-button [value]="USER_ROLE.RELAWAN"
          ><span
            [style.color]="relawan.profile.dr4 > 0 ? 'brown' : ''"
            [style.font-weight]="
              (relawan.profile.role || 0) == USER_ROLE.RELAWAN ? 'bold' : ''
            "
            >Relawan</span
          ></mat-radio-button
        >
        &nbsp;
        <mat-radio-button [value]="USER_ROLE.MODERATOR">
          <b
            class="moderator"
            *ngIf="relawan.profile.role == USER_ROLE.MODERATOR; else notmod"
            >Moderator</b
          >
          <ng-template #notmod>
            Moderator
          </ng-template>
        </mat-radio-button>
        &nbsp;
        <mat-radio-button [value]="USER_ROLE.ADMIN">
          <b
            class="admin"
            *ngIf="relawan.profile.role == USER_ROLE.ADMIN; else notadmin"
            >Admin</b
          >
          <ng-template #notadmin>
            Admin
          </ng-template>
        </mat-radio-button>
      </mat-radio-group>
    </p>

    <mat-tab-group>
      <mat-tab
        *ngIf="curRel.profile.role >= USER_ROLE.ADMIN"
        label="Referrals ({{ (relawan.profile.dr4 || 1) - 1 }})"
      >
        <ng-container *ngIf="relawan.code">
          <p></p>
          <table width="100%" style="max-width: 400px" class="alternating">
            <tr [style.background-color]="'lightgray'">
              <th width="40">#</th>
              <th>Name</th>
              <th width="50">#DR</th>
              <th width="75">Join Date</th>
            </tr>
            <ng-container *ngFor="let code of getCodes(relawan); let i = index">
              <tr *ngIf="relawan.code[code] as c">
                <td align="center">{{ i + 1 }}</td>
                <td>
                  <app-orang
                    [profile]="c.claimer"
                    [activity]="true"
                    [showDr]="false"
                  ></app-orang>
                </td>
                <td align="center">{{ c.claimer.dr4 || 0 }}</td>
                <td>{{ c.claimedTs | date: 'shortDate' }}</td>
              </tr>
            </ng-container>
          </table>
        </ng-container>
      </mat-tab>

      <ng-container *ngIf="(relawanPhotos$ | async) as relawanPhotos">
        <mat-tab label="Photos ({{ relawanPhotos.count }})">
          <p></p>
          <table
            border="1"
            cellspacing="0"
            cellpadding="5"
            width="400"
            class="alternating"
          >
            <tr [style.background-color]="'lightgray'">
              <th width="40">#</th>
              <th width="115">Foto</th>
              <th width="300">Detil</th>
            </tr>
            <tr *ngFor="let u of relawanPhotos.uploads; let i = index">
              <th>
                {{ relawanPhotos.count - i }}
              </th>
              <td align="center">
                <app-thumbnail [url]="u.url"></app-thumbnail><br />
              </td>
              <td>
                {{ u.ts | date: 'medium' }}<br />
                <app-hie-link [id]="u.kelId" [name]="u.kelName"></app-hie-link
                ><br />
                TPS: <b>#{{ u.tpsNo }}</b
                ><br />
                <app-meta [meta]="u.meta"></app-meta>
              </td>
            </tr>
          </table>
        </mat-tab>

        <mat-tab
          *ngIf="relawanPhotos.reportCount > 0"
          label="Reports ({{ relawanPhotos.reportCount }})"
        >
          <p></p>
          <table
            border="1"
            cellspacing="0"
            cellpadding="5"
            width="400"
            class="alternating"
          >
            <tr [style.background-color]="'lightgray'">
              <th width="40">#</th>
              <th width="115">Foto</th>
              <th width="300">Laporan</th>
            </tr>
            <tr *ngFor="let r of relawanPhotos.reports; let i = index">
              <th>
                {{ i + 1 }}
              </th>
              <td align="center">
                <app-thumbnail [url]="r.url"></app-thumbnail><br />
              </td>
              <td>
                <app-hie-link [id]="r.kelId" [name]="r.kelName"></app-hie-link>
                <br />
                TPS # <b>{{ r.tpsNo }}</b
                ><br /><br />
                {{ r.ts | date: 'short' }}
                <br />
                {{ r.reason }}
              </td>
            </tr>
          </table>
        </mat-tab>
      </ng-container>
    </mat-tab-group>

    <p></p>
  </ng-container>
</ng-container>
