table {
  width: 100%;
}

th,
td {
  padding-left: 5px;
  padding-right: 5px;
}

.index {
  width: 30px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

.paslon1 {
  width: 65px;
  text-align: right;
}

.paslon2 {
  width: 65px;
  text-align: right;
}

a.link {
  text-decoration: none;
}

@media screen and (min-width: 370px) {
  .index {
    width: 35px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .paslon1 {
    width: 80px;
  }

  .paslon2 {
    width: 80px;
  }
}
