table {
  width: 100%;
  max-width: 500px;
}

th,
td {
  padding-right: 10px;
}

.index {
  width: 35px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  font-size: small;
}

.wilayah {
  text-align: left;
  font-size: small;
}

.paslon1 {
  width: 40px;
  text-align: center;
  font-size: small;
}

.paslon2 {
  width: 40px;
  text-align: center;
  font-size: small;
}

.cakupan {
  width: 30px;
  text-align: right;
  font-size: small;
}

a.link {
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
}

.content {
  padding-bottom: 40px;
}

.sticky ~ .content {
  padding-top: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 400px) {
  .index {
    width: 40px;
    font-size: medium;
  }

  .wilayah {
    font-size: medium;
  }

  .paslon1 {
    width: 50px;
    font-size: medium;
  }

  .paslon2 {
    width: 50px;
    font-size: medium;
  }

  .cakupan {
    width: 40px;
  }
}
