<div style="padding: 0 10px">
  <ng-container *ngIf="state$ | async as state; else loading">
    <app-path [node]="state$ | async"></app-path>
  </ng-container>

  <ng-template #loading>
    <p><mat-spinner></mat-spinner></p>
  </ng-template>
</div>

<table #header class="header" cellspacing="0" [style.width.px]="width">
  <thead *ngIf="state$ | async as state">
    <tr [style.height.px]="ROW_HEIGHT" style="background-color: lightgray">
      <th class="index">#</th>
      <th class="wilayah">
        Nama {{ WILAYAH[state.depth + 1] }}
        <sup matTooltip="Jumlah TPS yang ada laporan kesalahan">E</sup>
        <span
          matTooltip="Jumlah TPS yang ada foto baru masuk dan belum didigitisasi"
          >(P)</span
        >
        <sub>
          <span
            matTooltip="Jumlah TPS yang janggal (ada 2+ foto yang hasil digitisasinya berbeda)"
            >J</span
          >
          /
          <span
            matTooltip="Jumlah TPS yang janggal yang sudah diverify oleh Admins"
            >K</span
          >
        </sub>
      </th>
      <th class="paslon1">01</th>
      <th class="paslon2">02</th>
      <th class="cakupan">
        <span matTooltip="Persentase TPS yang tercakup">
          TPS%
        </span>
      </th>
    </tr>
  </thead>
</table>

<table #footer class="footer" cellspacing="0" [style.width.px]="width">
  <tfoot *ngIf="state$ | async as state">
    <tr [style.height.px]="ROW_HEIGHT" style="background-color: lightgray">
      <th class="index"></th>
      <th class="wilayah" align="right">
        TOTAL

        <sup [style.color]="'red'">{{ state.sum.error || 0 | number }}</sup>

        <b>({{ state.sum.pending || 0 | number }})</b>

        <sub *ngIf="state.sum.janggal">
          <span [style.color]="'orange'">
            {{ state.sum.janggal - (state.sum.laporKpu || 0) | number }}
          </span>
          <ng-container *ngIf="state.sum.laporKpu">
            /
            <span [style.color]="'skyblue'">{{
              state.sum.laporKpu || 0 | number
            }}</span>
          </ng-container>
        </sub>
      </th>
      <th
        class="paslon1"
        style="font-size: small"
        [style.font-weight]="state.sum.pas1 > state.sum.pas2 ? 'bold' : ''"
      >
        {{
          (state.sum.pas1 / (state.sum.pas1 + state.sum.pas2)) * 100 || 0
            | number: '1.0-1'
        }}%
        <br />
        <span style="font-size: x-small">{{ state.sum.pas1 | number }}</span>
      </th>

      <th
        class="paslon2"
        style="font-size: small"
        [style.font-weight]="state.sum.pas1 < state.sum.pas2 ? 'bold' : ''"
      >
        {{
          (state.sum.pas2 / (state.sum.pas1 + state.sum.pas2)) * 100 || 0
            | number: '1.0-1'
        }}%
        <br />
        <span style="font-size: x-small">{{ state.sum.pas2 | number }}</span>
      </th>

      <th
        class="cakupan"
        [matTooltip]="state.sum.cakupan + ' / ' + sumTps(state)"
      >
        {{ (100 * state.sum.cakupan) / sumTps(state) | number: '1.0-1' }}%<br />

        <div
          style="
          width: 100%; height:5px; margin-top: 3px;
          background:red; border: 1px solid black;
        "
          [ngStyle]="{
            'background-image':
              'linear-gradient(to right,
            green 0%,
            green ' +
              (100 * (state.sum.cakupan - state.sum.pending)) / sumTps(state) +
              '%,
            orange ' +
              (100 * (state.sum.cakupan - state.sum.pending)) / sumTps(state) +
              '%,
            orange ' +
              (100 * state.sum.cakupan) / sumTps(state) +
              '%,
            white ' +
              (100 * state.sum.cakupan) / sumTps(state) +
              '%,
            white 100%)'
          }"
        >
          <br />
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<table #content class="content" cellspacing="0" [style.width.px]="width">
  <tbody *ngIf="state$ | async as state" class="alternating">
    <ng-container
      *ngFor="let c of state.children; let index = index; trackBy: trackByIdx"
    >
      <tr [style.height.px]="ROW_HEIGHT">
        <td class="index">{{ index + 1 }}</td>
        <ng-container *ngIf="state.data[c[0]] as d">
          <td class="wilayah">
            <app-hie-link [id]="c[0]" [name]="c[1]"></app-hie-link>&nbsp;
            <sup *ngIf="d.sum.error" [style.color]="'red'">{{
              d.sum.error || 0 | number
            }}</sup>
            <span *ngIf="d.sum.pending" [style.color]="getColor(state, c[0])"
              >({{ d.sum.pending || 0 | number }})</span
            >
            <sub *ngIf="d.sum.janggal">
              <ng-container
                *ngIf="d.sum.janggal - (d.sum.laporKpu || 0) > 0; else laporKpu"
              >
                <b [style.color]="'orange'">
                  {{ (d.sum.janggal || 0) - (d.sum.laporKpu || 0) | number }}
                </b>
                <ng-container *ngIf="d.sum.laporKpu">
                  /
                  <span [style.color]="'skyblue'">
                    {{ d.sum.laporKpu || 0 | number }}
                  </span>
                </ng-container>
              </ng-container>

              <ng-template #laporKpu>
                <span [style.color]="'skyblue'">
                  {{ d.sum.laporKpu || 0 | number }}
                </span>
              </ng-template>
            </sub>
          </td>

          <td
            class="paslon1"
            style="font-size: small"
            [style.font-weight]="d.sum.pas1 > d.sum.pas2 ? 'bold' : ''"
          >
            {{
              (d.sum.pas1 / (d.sum.pas1 + d.sum.pas2)) * 100 || 0
                | number: '1.0-1'
            }}%
            <br />
            <span style="font-size: x-small">{{ d.sum.pas1 | number }}</span>
          </td>

          <td
            class="paslon2"
            style="font-size: small"
            [style.font-weight]="d.sum.pas1 < d.sum.pas2 ? 'bold' : ''"
          >
            {{
              (d.sum.pas2 / (d.sum.pas1 + d.sum.pas2)) * 100 || 0
                | number: '1.0-1'
            }}%
            <br />
            <span style="font-size: x-small">{{ d.sum.pas2 | number }}</span>
          </td>
        </ng-container>

        <td class="cakupan" [matTooltip]="coverage(state, c[0]) + ' / ' + c[2]">
          {{ (100 * coverage(state, c[0])) / c[2] | number: '1.0-1' }}%<br />

          <div
            style="
              width: 100%; height:5px; margin-top: 3px;
              background:red; border: 1px solid black;
            "
            [ngStyle]="{
              'background-image':
                'linear-gradient(to right,
                green 0%,
                green ' +
                (100 *
                  (coverage(state, c[0]) -
                    (state.data[c[0]]?.sum?.pending || 0))) /
                  c[2] +
                '%,
                orange ' +
                (100 *
                  (coverage(state, c[0]) -
                    (state.data[c[0]]?.sum?.pending || 0))) /
                  c[2] +
                '%,
                orange ' +
                (100 * coverage(state, c[0])) / c[2] +
                '%,
                white ' +
                (100 * coverage(state, c[0])) / c[2] +
                '%,
                white 100%)'
            }"
          >
            <br />
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
