<div style="padding: 0 10px">
  <h3>Pengumuman</h3>

  <ul>
    <li>
      {{ 1552017827022 | date: 'medium' }}: semua data dihapus karena ada
      perubahan data structure dan bug fixes.
    </li>
    <li>
      Tolong test ulang semua fitur: kode referral dan upload foto. Perhatikan
      baik2 flow nya. Kabari saya masukkannya (sedikit apapun) by weekend ini
      jika ada yang ingin diubah. Weekend ini akan dihapus lagi semua datanya.
      Jadi silahkan upload / refer orang dengan bebas, tapi jangan sebar ke
      publik dulu ya.
    </li>
  </ul>
</div>
