<div style="padding: 0 10px">
  <h3>Pengumuman</h3>

  {{ 1552017827022 | date: 'medium' }}:
  <ul>
    <li>
      Semua data dihapus karena ada
      perubahan data structure dan bug fixes.
    </li>
    <li>
      Tolong test ulang semua fitur Upload foto
    </li>
    <li>
      Perhatikan baik2 flow nya. Kabari ke tim KawalPemilu masukkannya (sedikit
      apapun) by weekend ini jika ada yang ingin diubah.
    </li>
    <li>
      Weekend ini akan dihapus lagi semua datanya. Jadi silahkan upload dengan
      bebas, tapi jangan sebar ke publik dulu ya.
    </li>
  </ul>
</div>
