<table
  #tbl
  [attr.height]="HEIGHT"
  cellpadding="3"
  cellspacing="0"
  style="display: inline"
>
  <tbody *ngIf="(upsert$ | async) as u" [style.background-color]="color(u)">
    <tr>
      <td align="center" width="110" height="120" valign="middle">
        <app-thumbnail
          [url]="u.data.url"
          [size]="100"
          [esize]="980"
        ></app-thumbnail>
      </td>
    </tr>
    <tr>
      <td>
        {{ u.uploader.ts | date: 'short' }}
      </td>
    </tr>
    <tr>
      <td width="110">
        <ng-container [ngSwitch]="status(u)">
          <span *ngSwitchCase="'error'" style="color: red">
            Ada laporan kesalahan di foto ini.
          </span>
          <span *ngSwitchCase="'pending'" style="color: orange">
            Foto ini belum diproses.
          </span>
          <span *ngSwitchCase="'deleted'" style="color: red">
            Foto ini ditolak.
          </span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
