.wrapper {
  max-width: 500px;
}

table {
  width: 100%;
  max-width: 500px;
}

.tps {
  width: 60px;
  text-align: center;
}

.foto {
  width: 120px;
  text-align: center;
}

.suara {
  width: 80px;
  text-align: center;
}

.dijaga {
  width: 80px;
  padding-left: 10px;
  text-align: center;
}

.jaga {
  text-align: left;
  padding-left: 10px;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky ~ .content {
  padding-top: 50px;
}
