<ng-container *ngIf="(userService.relawan$ | async) as relawan">
  <div *ngIf="(state$ | async) as state">
    <app-path [node]="state"></app-path>

    <ng-container *ngFor="let c of state.children">
      <ng-container *ngIf="state.data[c[0]] as d">
        <ng-container *ngIf="d.sum.pending || d.sum.error">
          <app-approver
            [kelurahanId]="state.id"
            [tpsNo]="c[0]"
            [color]="d.sum.error ? '#FDD' : d.sum.pending ? '#FFD' : ''"
            [user]="relawan"
          ></app-approver>
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>
    </ng-container>

    <p>
      <button mat-raised-button color="primary" [routerLink]="['/t', state.id]">
        Back to public view
      </button>
    </p>
  </div>
</ng-container>
