<ng-container *ngIf="(state$ | async) as state">
  <app-path [node]="state.node"></app-path>

  <div *ngIf="(userService.user$ | async) as user">
    <p>
      Halo, {{ user.displayName }} (<a
        style="color: blue; cursor: pointer;"
        (click)="userService.logout()"
        >logout</a
      >)
    </p>

    <p>
      Untuk menjaga TPS <b>#{{ state.tpsNo }}</b> di Kelurahan
      <b>{{ state.node.name }}</b
      >, silahkan upload foto pemandangan di daerah anda.
    </p>

    <ng-container *ngIf="state.servingUrl; else uploadfoto">
      <ng-container *ngIf="!state.adaKesalahan; else uploadfoto">
        TPS ini telah memiliki foto:

        <p>
          <app-thumbnail [url]="state.servingUrl"></app-thumbnail>
        </p>

        <p>
          Jika ada kesalahan di foto tersebut, laporkan kesalahan dahulu sebelum
          anda bisa mengupload foto anda.
        </p>
      </ng-container>
    </ng-container>

    <ng-template #uploadfoto>
      <p>
        <b style="color:red">Catatan</b>: jika anda langsung memotret foto dari
        aplikasi ini, fotonya <b>TIDAK AKAN</b> tersimpan di HP anda!
      </p>
      <!-- <p>Petunjuk pengambilan Foto C1:</p>
    <ol>
      <li>
        Setelah penghitungan suara selesai di TPS anda, ambillah foto formulir
        final yang <b>TELAH</b> ditanda-tangani semua saksi.
      </li>
      <li>
        Pastikan <b>SELURUH</b> kertas terlihat jelas (semua angka-angka maupun
        tulisan) seperti
        <a href="/assets/contoh.jpeg" target="_blank">contoh foto ini</a>.
      </li>
      <li>
        Pastikan foto tersebut sudah tersimpan di HP anda!<br />
        <b style="color:red">Catatan</b>: jika anda langsung memotret foto dari
        aplikasi ini, fotonya <b>TIDAK AKAN</b> tersimpan di HP anda!
      </li>
      <li>Jika sudah siap, klik tombol Upload dibawah:</li>
    </ol> -->

      <form [formGroup]="formGroup">
        <input
          #u
          type="file"
          (change)="upload(user.uid, state, $event)"
          accept=".png,.jpg"
          style="display: none"
        />
        <p *ngIf="!imgURL">
          <a mat-raised-button color="primary" (click)="u.click()">
            Upload Foto yang SUDAH tersimpan di HP anda
          </a>
        </p>
        <div *ngIf="imgURL">
          <img
            [src]="imgURL"
            width="100%"
            style="max-width: 400px"
            (click)="u.click()"
          />

          <p>(Opsional) masukkan jumlah suara:</p>
          <mat-form-field style="width: 150px">
            <input
              #paslon1
              matInput
              placeholder="Jumlah Suara Paslon 1"
              formControlName="paslon1Ctrl"
              type="number"
              required
            />
          </mat-form-field>
          &nbsp;
          <span *ngIf="getError('sahCtrl') as error" class="alert">
            {{ error }}
          </span>
          <br />

          <mat-form-field style="width: 150px">
            <input
              matInput
              placeholder="Jumlah Suara Paslon 2"
              formControlName="paslon2Ctrl"
              type="number"
              required
            />
          </mat-form-field>
          &nbsp;
          <span *ngIf="getError('paslon2Ctrl') as error" class="alert">
            {{ error }}
          </span>
          <br />

          <mat-form-field style="width: 150px">
            <input
              matInput
              placeholder="Jumlah Suara Sah"
              formControlName="sahCtrl"
              type="number"
              required
            />
          </mat-form-field>
          &nbsp;
          <span *ngIf="getError('sahCtrl') as error" class="alert">
            {{ error }}
          </span>
          <br />

          <mat-form-field style="width: 150px">
            <input
              matInput
              placeholder="Jumlah Suara Tidak Sah"
              formControlName="tidakSahCtrl"
              type="number"
              required
            />
          </mat-form-field>
          &nbsp;
          <span *ngIf="getError('tidakSahCtrl') as error" class="alert">
            {{ error }}
          </span>

          <ng-template #submitButton>
            <p>
              <button
                type="submit"
                mat-raised-button
                color="primary"
                (click)="selesai(user, state.kelurahanId, state.tpsNo)"
                [disabled]="formGroup.invalid || isLoading"
              >
                <mat-icon>done</mat-icon> &nbsp; Selesaikan!
              </button>
            </p>
          </ng-template>

          <p *ngIf="isLoading; else submitButton">
            Uploading: {{ uploadService.progress.toFixed(0) }}%
            <progress max="100" [value]="uploadService.progress"></progress>
            <!-- &nbsp;
                <button
                  (click)="uploadService.task.cancel()"
                  [disabled]="
                    !(
                      uploadService.state === 'paused' ||
                      uploadService.state === 'running'
                    )
                  "
                >
                  Cancel
                </button> -->
          </p>
          <!-- <p>Pastikan lokasi TPS di foto sesuai dengan lokasi berikut:</p> -->
          <!-- <p>Terakhir, masukkan angka-angka yang tertera di foto tersebut:</p> -->
        </div>
      </form>
    </ng-template>
  </div>

  <br />
  <p>
    <button
      [routerLink]="['/t', state.kelurahanId]"
      mat-raised-button
      color="warn"
      [disabled]="isLoading"
    >
      Batalkan Upload
    </button>
  </p>
</ng-container>
