<ng-container *ngIf="(state$ | async) as state">
  <div *ngIf="(userService.relawan$ | async) as relawan">
    <p>Halo, <app-orang [profile]="relawan.profile"></app-orang></p>

    <p>
      Untuk mengawal TPS <b>#{{ state.tpsNo }}</b> di Kelurahan
      <b>{{ state.node.name }}</b
      >, silakan upload foto pemandangan di daerah Anda.
    </p>

    <p>
      <b style="color:red">Catatan</b>: potret dengan kamera ponsel Anda, jangan
      dengan aplikasi ini. Jika Anda langsung memfoto dengan aplikasi ini, foto
      tersebut <b>TIDAK AKAN</b> tersimpan di HP Anda!
    </p>
    <!-- <p>Petunjuk pengambilan Foto C1:</p>
    <ol>
      <li>
        Setelah penghitungan suara selesai di TPS anda, ambillah foto formulir
        final yang <b>TELAH</b> ditanda-tangani semua saksi.
      </li>
      <li>
        Pastikan <b>SELURUH</b> kertas terlihat jelas (semua angka-angka maupun
        tulisan) seperti
        <a href="/assets/contoh.jpeg" target="_blank">contoh foto ini</a>.
      </li>
      <li>
        Pastikan foto tersebut sudah tersimpan di HP anda!<br />
        <b style="color:red">Catatan</b>: jika anda langsung memotret foto dari
        aplikasi ini, fotonya <b>TIDAK AKAN</b> tersimpan di HP anda!
      </li>
      <li>Jika sudah siap, klik tombol Upload dibawah:</li>
    </ol> -->

    <form [formGroup]="formGroup">
      <input
        #u
        type="file"
        (change)="upload(relawan.auth.uid, state, $event)"
        accept=".png,.jpg"
        style="display: none"
      />
      <p *ngIf="!imgURL">
        <a mat-raised-button color="primary" (click)="u.click()">
          Upload foto yang <b>sudah</b> tersimpan di HP anda
        </a>
      </p>
      <div *ngIf="imgURL">
        <img
          [src]="imgURL"
          width="100%"
          style="max-width: 400px"
          (click)="u.click()"
        />

        <mat-tab-group>
          <mat-tab label="Pilpres">
            <p>
              Masukkan jumlah suara (pada masa uji-coba ini, silahkan masukkan angka
              random):
            </p>
            <ng-container *ngFor="let p of pilpres">
              <mat-form-field style="width: 150px">
                <input
                  matInput
                  class="suara"
                  placeholder="{{ p.label }}"
                  formControlName="{{ p.form }}"
                  type="number"
                />
              </mat-form-field>
              &nbsp;
              <span *ngIf="getError(p.form) as error" class="alert">
                {{ error }}
              </span>
              <br />
            </ng-container>
          </mat-tab>

          <mat-tab label="Pileg">
            <p>
              Masukkan jumlah suara:
            </p>
            <ng-container *ngFor="let p of pileg">
              <mat-form-field style="width: 150px">
                <input
                  matInput
                  placeholder="{{ p.label }}"
                  formControlName="{{ p.form }}"
                  type="number"
                />
              </mat-form-field>
              &nbsp;
              <span *ngIf="getError(p.form) as error" class="alert">
                {{ error }}
              </span>
              <br />
            </ng-container>
          </mat-tab>
        </mat-tab-group>

        <ng-template #submitButton>
          <p>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              (click)="selesai(relawan.auth, state.kelurahanId, state.tpsNo)"
              [disabled]="formGroup.invalid || isLoading"
            >
              <mat-icon>done</mat-icon> &nbsp; Selesaikan!
            </button>
          </p>
        </ng-template>

        <p *ngIf="isLoading; else submitButton">
          Uploading: {{ uploadService.progress.toFixed(0) }}%
          <progress max="100" [value]="uploadService.progress"></progress>
          <!-- &nbsp;
                <button
                  (click)="uploadService.task.cancel()"
                  [disabled]="
                    !(
                      uploadService.state === 'paused' ||
                      uploadService.state === 'running'
                    )
                  "
                >
                  Cancel
                </button> -->
        </p>
        <!-- <p>Pastikan lokasi TPS di foto sesuai dengan lokasi berikut:</p> -->
        <!-- <p>Terakhir, masukkan angka-angka yang tertera di foto tersebut:</p> -->
      </div>
    </form>
  </div>

  <br />
  <p>
    <button
      [routerLink]="['/t', state.kelurahanId]"
      mat-raised-button
      color="warn"
      [disabled]="isLoading"
    >
      Batalkan Upload
    </button>
  </p>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</ng-container>
