<table
  *ngIf="(tps$ | async) as tps; else loading"
  style="margin-top: 10px"
  cellpadding="0"
  cellspacing="0"
>
  <tr>
    <td align="right" valign="top">
      <app-thumbnail
        [url]="tps.url"
        [linkSize]="3000"
        [srcSize]="1024"
        [maxWidth]="'100%'"
      ></app-thumbnail>
      <br />
      Foto by:
      <app-orang [profile]="tps.uploader" [activity]="true"></app-orang>
      <app-meta [meta]="tps.meta"></app-meta>
    </td>
    <td width="190" style="padding: 5px" valign="top">
      <ng-container *ngIf="tps.status === 'error'">
        <p style="background-color: #FDD">
          Kesalahan dilaporkan oleh:<br />
          <app-orang [profile]="tps.reporter" [activity]="true"></app-orang>
        </p>
      </ng-container>

      <app-hie-link [id]="kelId" [name]="kelName"></app-hie-link>

      <br />
      TPS # <b>{{ tpsNo }}</b
      ><br />

      <ng-container *ngIf="formType; else pilihTipe">
        <p>
          <b>{{ FORM_LABEL[formType] }}</b> &nbsp;
          <button color="warn" (click)="formType = null">
            <mat-icon>clear</mat-icon>
          </button>
        </p>

        <ng-container *ngIf="halaman; else pilihLembar">
          <p>
            Lembar: <b>{{ halaman }}</b> &nbsp;
            <button color="warn" (click)="halaman = null">
              <mat-icon>clear</mat-icon>
            </button>
          </p>

          <form [formGroup]="formGroup">
            <ng-container *ngFor="let field of LEMBAR[formType][halaman]">
              <mat-form-field style="width: 180px">
                <input
                  matInput
                  autocomplete="off"
                  placeholder="{{ LABEL[field] }}"
                  formControlName="{{ field }}"
                  type="number"
                  required
                />
              </mat-form-field>
              <!-- <span *ngIf="getError(p.form) as error" class="alert">
                {{ error }}
              </span> -->
              <br />
            </ng-container>

            <p *ngIf="(userService.relawan$ | async) as relawan">
              <span *ngIf="approveStatus; else bisaApprove">
                Approved by:<br />
                <app-orang
                  [profile]="relawan.profile"
                  [activity]="true"
                ></app-orang>
              </span>
              <ng-template #bisaApprove>
                <button
                  type="submit"
                  [disabled]="formGroup.invalid || isLoading"
                  mat-raised-button
                  color="primary"
                  (click)="approve(relawan.auth, IMAGE_STATUS.approved)"
                >
                  Submit
                </button>
              </ng-template>
            </p>
          </form>
        </ng-container>
      </ng-container>

      <ng-template #pilihLembar>
        <h3>Pilih Lembar</h3>

        <mat-radio-group
          class="radio-group"
          (change)="setHalaman($event.value)"
        >
          <mat-radio-button *ngFor="let hal of getHalaman()" [value]="hal">
            Lembar {{ hal }}
          </mat-radio-button>
        </mat-radio-group>
      </ng-template>

      <ng-template #pilihTipe>
        <h3>Pilih Tipe Form</h3>

        <mat-radio-group
          class="radio-group"
          (change)="setFormType($event.value)"
        >
          <mat-radio-button [value]="FORM_TYPE.pp">
            Pilpres-Plano
          </mat-radio-button>
          <mat-radio-button [value]="FORM_TYPE.ps">
            Pilpres-Sertifikat
          </mat-radio-button>
          <mat-radio-button [value]="FORM_TYPE.dp">
            DPR-Plano
          </mat-radio-button>
          <mat-radio-button [value]="FORM_TYPE.ds">
            DPR-Sertifikat
          </mat-radio-button>
        </mat-radio-group>
      </ng-template>

      <br /><br />
      <p>
        <mat-divider></mat-divider>
      </p>
      <p align="center">
        <button mat-raised-button color="primary" (click)="location.back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        &nbsp;

        <ng-container *ngIf="(userService.relawan$ | async) as relawan">
          <button
            mat-raised-button
            color="warn"
            (click)="approve(relawan.auth, IMAGE_STATUS.deleted)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </p>
      <!-- <pre>{{ tps | json }}</pre> -->
    </td>
  </tr>
</table>

<ng-template #loading>
  <p>
    <mat-spinner></mat-spinner>
  </p>
</ng-template>
