<div *ngIf="currentlyUploading(); else uploadButton">
  Uploading: {{ uploadService.progress.toFixed(0) }}%
  <progress max="100" [value]="uploadService.progress"></progress> &nbsp;
  <button
    (click)="uploadService.task.cancel()"
    [disabled]="
      !(uploadService.state === 'paused' || uploadService.state === 'running')
    "
  >
    Cancel
  </button>
</div>

<ng-template #uploadButton>
  <a
    mat-raised-button
    color="primary"
    *ngIf="!uploadService.task"
    [routerLink]="['/u', kelurahanId, tpsNo]"
  >
    Upload Foto C1</a
  >
</ng-template>
