<h2>Tes Upload Foto untuk menjaga TPS</h2>

<p>
  Tanggal 17 April 2019, setelah penghitungan suara selesai, Anda diharapkan
  untuk memfoto hasil penghitungan suara dan mengupload foto-foto tersebut ke
  situs ini. [TODO: tambahin link ke tutorial HitungFotoUpload]
</p>

<p>
  Sekarang adalah masa uji coba untuk Anda latihan mengupload foto dan menguji
  sistem. Silakan pilih TPS yang akan Anda jaga dan upload foto di TPS tersebut
  untuk memastikan ponsel Anda dapat mengupload foto dengan lancar:
</p>

<ul>
  <li>Semua tes foto akan dihapus pada tanggal 16 April 2019.</li>
  <li>Gunakan browser Chrome atau Safari untuk mengupload foto.</li>
</ul>

<p>
  <a [routerLink]="['/h', 0]" mat-raised-button color="primary">
    Cari TPS Anda dan Tes Upload Foto
  </a>
</p>

<ng-container *ngIf="(photos$ | async) as photos">
  <ng-container *ngIf="photos.length > 0">
    <table border="1" cellpadding="5" cellspacing="0">
      <tr bgcolor="lightgray" height="30">
        <th width="120">Lokasi TPS</th>
        <td width="100%"><b>Foto-foto yang telah Anda upload</b></td>
      </tr>
      <tr
        *ngFor="let p of photos; let odd = odd; let i = index"
        [style.background-color]="odd ? '#FFF' : '#EEE'"
      >
        <td align="center" width="120">
          <a style="text-decoration: none" [routerLink]="['/t', p.kelId]">{{
            p.kelName || p.kelId
          }}</a>
          <p style="border: 1px solid black; width: 80px; padding: 5px">
            TPS # <b style="font-size: large">{{ p.tpsNo }}</b>
          </p>
          <app-upload-sequence
            [kelId]="p.kelId"
            [kelName]="p.kelName"
            [tpsNo]="p.tpsNo"
            [value]="'Tambah Foto'"
          ></app-upload-sequence>
        </td>
        <td>
          <div class="cdk-virtual-scroll-data-source">
            <cdk-virtual-scroll-viewport
              orientation="horizontal"
              itemSize="125"
              class="viewport"
            >
              <div *cdkVirtualFor="let t of p.photos" class="item">
                <table cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td align="center" width="125" height="125">
                        <app-thumbnail
                          *ngIf="!t.url.startsWith('data')"
                          [url]="t.url"
                          [srcSize]="110"
                          [maxHeight]="'110px'"
                          [maxWidth]="'110px'"
                          [linkSize]="980"
                        ></app-thumbnail>
                        <img
                          *ngIf="t.url.startsWith('data')"
                          [src]="t.url"
                          style="max-height:110px; max-width:110px; height:auto; width:auto;"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <ng-container
                          *ngIf="t.url.startsWith('data'); else showdate"
                        >
                          Uploading &nbsp;
                          <mat-spinner
                            style="display: inline"
                            [diameter]="20"
                          ></mat-spinner>
                        </ng-container>
                        <ng-template #showdate>
                          {{ t.ts | date: 'short' }}
                        </ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </td>
      </tr>
    </table>

    <p></p>
  </ng-container>
</ng-container>
