<h2>Mari Tes Upload Foto</h2>

<ng-container *ngIf="(photos$ | async) as photos">
  <ng-container *ngIf="photos.length > 0">
    <p>
      <b>Tips:</b> klik nama kelurahan di bawah untuk meng-upload foto lain di
      kelurahan yang sama.
    </p>
    <table border="1" cellpadding="5" cellspacing="0" class="alternating">
      <tr height="30" [style.background-color]="'lightgray'">
        <th width="120">Lokasi TPS</th>
        <td width="100%"><b>Foto-foto yang telah kamu upload</b></td>
      </tr>
      <tr *ngFor="let p of photos; let i = index">
        <td align="center" width="120">
          <a style="text-decoration: none" [routerLink]="['/t', p.kelId]">{{
            p.kelName || p.kelId
          }}</a>
          <p style="border: 1px solid black; width: 80px; padding: 5px">
            TPS # <b style="font-size: large">{{ p.tpsNo }}</b>
          </p>
          <app-upload-sequence
            [kelId]="p.kelId"
            [kelName]="p.kelName"
            [tpsNo]="p.tpsNo"
            [value]="'Tambah Foto'"
          ></app-upload-sequence>
        </td>
        <td>
          <app-carousel [photos]="p.items" [height]="160"></app-carousel>
        </td>
      </tr>
    </table>

    <p></p>
  </ng-container>
</ng-container>

<p>
  Yuk kita latihan upload foto, sekaligus menandai TPS mana yang akan kamu jaga:
</p>

<ul>
  <li>
    Kalau belum tahu nyoblos di mana, cek
    <a href="https://lindungihakpilihmu.kpu.go.id/" target="_blank"
      >website KPU</a
    >
    untuk mengetahui <b>nomor TPS</b> tempat kamu nyoblos.
  </li>

  <li>
    Ambil beberapa foto <b>dengan ponsel kamu</b>. Ambillah foto netral, yang
    tidak terkait dengan kampanye. Foto yang nggak netral tidak akan
    di-<i>approve</i>.
  </li>

  <li>
    Setelah mendapatkan koneksi internet stabil, masuk ke situs ini dengan
    browser <b>Chrome</b> atau <b>Safari</b> untuk <i>upload</i> foto satu per
    satu di TPS yang akan kamu kawal. Ngomong2, kamu juga boleh jaga TPS
    lainnya, <i>upload</i> saja foto-foto nya di nomor TPS yang terdaftar di
    sistem ini:
  </li>
</ul>

<p>
  <a [routerLink]="['/h', 0]" mat-raised-button color="primary">
    Cari TPS kamu dan Tes Upload Foto
  </a>
</p>

<p>Semua foto tes akan dihapus pada tanggal <b>16 April 2019</b>.</p>

<p>
  Pada tanggal <b>17 April 2019</b>, setelah penghitungan suara selesai, kamu
  diharapkan kembali ke TPS dan memfoto Formulir <b>C1 PLANO</b>. Biasanya,
  formulir ini dipajang di papan besar seperti
  <a href="http://upload.kawalpemilu.org/assets/contoh.jpeg" target="_blank"
    >contoh foto ini</a
  >. Setelah kamu memfoto Formulir <b>C1 PLANO</b>, upload deh foto tersebut ke
  situs ini dengan cara di atas.
</p>
