<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">KawalPemilu 2019</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
  >
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/c', 0]"
        (click)="mobileQuery.matches && snav.toggle()"
        >Referral</a
      >
      <a
        mat-list-item
        [routerLink]="['/h', 0]"
        (click)="mobileQuery.matches && snav.toggle()"
        >Cakupan</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
