<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">KawalPemilu - Jaga Suara 2019</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
  >
    <mat-nav-list>
      <mat-list-item>
        <a
          mat-list-item
          [routerLink]="['/f']"
          (click)="mobileQuery.matches && snav.toggle()"
          ><mat-icon>add_a_photo</mat-icon> &nbsp; Upload Foto &nbsp; &nbsp;
        </a>
      </mat-list-item>
      <ng-container *ngIf="(userService.userRelawan$ | async) as user">
        <mat-list-item>
          <a
            mat-list-item
            [routerLink]="['/h', 0]"
            (click)="mobileQuery.matches && snav.toggle()"
            ><mat-icon>table_chart</mat-icon> &nbsp; Hasil Upload</a
          >
        </mat-list-item>
        <mat-list-item *ngIf="user.depth > 0">
          <a
            mat-list-item
            [routerLink]="['/c', 0]"
            (click)="mobileQuery.matches && snav.toggle()"
            ><mat-icon>group_add</mat-icon> &nbsp; Rekrutmen</a
          >
        </mat-list-item>
        <!-- <mat-list-item>
          <a
            mat-list-item
            [routerLink]="['/p']"
            (click)="mobileQuery.matches && snav.toggle()"
            ><mat-icon>announcement</mat-icon> &nbsp; Pengumuman</a
          >
        </mat-list-item> -->
        <mat-list-item>
          <a
            mat-list-item
            (click)="logout(); mobileQuery.matches && snav.toggle()"
            ><mat-icon>power_settings_new</mat-icon> &nbsp; Logout</a
          >
        </mat-list-item>
      </ng-container>

      <p>
        <mat-divider></mat-divider>
      </p>
      <img
        width="150"
        style="display: block; margin: 0 auto"
        src="/assets/logo.png"
      />
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="min-height: 360px">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
