<div style="padding: 0 10px">
  <ng-container *ngIf="(userService.userRelawan$ | async) as user">
    <h2>Rekrutmen Relawan</h2>

    <p>
      Halo,
      <app-orang [profile]="user.profile"></app-orang>
    </p>

    <ng-template #register>
      <ng-container *ngIf="(code$ | async) as code">
        <p>
          <app-orang [profile]="code.issuer"></app-orang>
          mengundang Anda untuk menjadi Relawan.
        </p>

        <button
          [disabled]="isLoading"
          mat-raised-button
          color="primary"
          (click)="registerCode(user.auth, code)"
        >
          Terima Undangan
        </button>
      </ng-container>

      <p style="font-weight: bold; color: red" *ngIf="error">{{ error }}</p>
    </ng-template>

    <ng-container *ngIf="user.depth > 0; else register">
      <p>
        Relawan KawalPemilu memiliki tanggung jawab besar untuk mengawal suara
        rakyat. Idealnya, dibutuhkan sekitar 800.000 Relawan yang terpencar di
        seluruh kelurahan di Indonesia untuk standby menjaga TPS nya
        masing-masing. Ya, ada lebih dari 800.000 TPS yang perlu dijaga! banyak
        bener kan?
      </p>
      <p>
        Semua Relawan diharapkan untuk tes upload foto di TPS yang akan dia
        jaga, dengan itulah kita tahu bahwa TPS tersebut sudah tercakup. Anda
        bisa melihat persebaran Relawan saat ini di
        <a [routerLink]="['/h', 0]">Hasil Upload</a>.
      </p>

      <p>
        Bantuan Anda sangat diharapkan untuk merekrut Relawan di kelurahan
        dimana TPS nya BELUM DIJAGA siapapun. Jika ada teman Facebook anda yang
        bertempat tinggal di kelurahan tersebut, undanglah teman anda dengan
        membuat kode referral di bawah:
      </p>

      <form [formGroup]="formGroup">
        <mat-form-field style="width: 225px">
          <input
            matInput
            placeholder="Nama teman anda"
            formControlName="namaCtrl"
            type="text"
            required
          />
        </mat-form-field>
        &nbsp;
        <span *ngIf="getError('namaCtrl') as error" class="alert">
          {{ error }}
        </span>

        <button
          type="submit"
          [disabled]="formGroup.invalid || isLoading"
          mat-raised-button
          color="primary"
          (click)="createReferralCode(user.auth)"
        >
          Buat Kode Referral
        </button>
      </form>

      <ng-container *ngIf="getReferralCodes(user, false) as codes">
        <ng-container *ngIf="codes.length > 0">
          <p>
            Kirimkan URL kode referral dibawah ini ke teman anda (satu kode
            referral hanya bisa dipakai oleh satu orang):
          </p>

          <table border="1" cellspacing="0">
            <tr bgcolor="lightgray">
              <th width="30">#</th>
              <td><b>Nama</b></td>
              <td><b>URL kode referral untuk dibagikan</b></td>
            </tr>
            <tr
              *ngFor="let code of codes; let odd = odd; let i = index"
              [style.background-color]="odd ? '#FFF' : '#EEE'"
            >
              <td align="center">{{ i + 1 }}</td>
              <td>{{ user.code[code].name }}</td>
              <td style="padding: 7px">
                <input
                  type="text"
                  style="width: 300px"
                  value="https://kawal-c1.firebaseapp.com/c/{{ code }}"
                  #ui
                />
                &nbsp;
                <button
                  mat-raised-button
                  color="primary"
                  (click)="copyCode(ui)"
                >
                  <mat-icon>file_copy</mat-icon> Copy
                </button>
              </td>
            </tr>
          </table>
        </ng-container>
      </ng-container>

      <p *ngIf="user.profile.role == USER_ROLE.MODERATOR; else cekIsAdmin">
        Anda mempunyai Role <b class="moderator">Moderator</b>. Anda bisa
        merekrut teman anda menjadi <b class="moderator">Moderator</b> dengan
        cara memberikan mereka kode referral. Setelah teman anda menggunakan
        kode referral tersebut, profilenya akan muncul dibawah untuk diupgrade
        menjadi <b class="moderator">Moderator</b>.
      </p>

      <ng-template #cekIsAdmin>
        <p *ngIf="user.profile.role == USER_ROLE.ADMIN">
          Anda mempunyai Role <b class="admin">Admin</b>. Anda bisa merekrut
          teman anda menjadi <b class="admin">Admin</b> atau
          <b class="moderator">Moderator</b> dengan cara memberikan mereka kode
          referral. Setelah teman anda menggunakan kode referral tersebut,
          profilenya akan muncul dibawah untuk diupgrade menjadi
          <b class="admin">Admin</b> atau <b class="moderator">Moderator</b>.
        </p>
      </ng-template>

      <ng-container *ngIf="getReferralCodes(user, true) as codes">
        <ng-container *ngIf="codes.length > 0">
          <p>
            Berikut ini adalah teman-teman yang sudah menerima undangan anda:
          </p>

          <table border="1" cellpadding="5" cellspacing="0">
            <tr bgcolor="lightgray">
              <th width="30">#</th>
              <th>Nama</th>
              <th>Profile teman anda</th>
              <th *ngIf="user.profile.role">Role</th>
            </tr>
            <tr
              *ngFor="let code of codes; let odd = odd; let i = index"
              [style.background-color]="odd ? '#FFF' : '#EEE'"
            >
              <ng-container *ngIf="user.code[code] as c">
                <td align="center">{{ codes.length - i }}</td>
                <td>{{ c.name }}</td>
                <td>
                  <app-orang [profile]="c.claimer"></app-orang>
                </td>
                <td *ngIf="user.profile.role">
                  <mat-radio-group
                    [ngModel]="c.claimer.role || 0"
                    (ngModelChange)="changeRole(user.auth, code, $event)"
                  >
                    <mat-radio-button [value]="USER_ROLE.RELAWAN"
                      ><span
                        [style.font-weight]="
                          (c.claimer.role || 0) == USER_ROLE.RELAWAN
                            ? 'bold'
                            : ''
                        "
                        >Relawan</span
                      ></mat-radio-button
                    >
                    &nbsp;
                    <mat-radio-button [value]="USER_ROLE.MODERATOR">
                      <b
                        class="moderator"
                        *ngIf="
                          c.claimer.role == USER_ROLE.MODERATOR;
                          else notmod
                        "
                        >Moderator</b
                      >
                      <ng-template #notmod>
                        Moderator
                      </ng-template>
                    </mat-radio-button>
                    &nbsp;
                    <mat-radio-button [value]="USER_ROLE.ADMIN">
                      <b
                        class="admin"
                        *ngIf="c.claimer.role == USER_ROLE.ADMIN; else notadmin"
                        >Admin</b
                      >
                      <ng-template #notadmin>
                        Admin
                      </ng-template>
                    </mat-radio-button>
                  </mat-radio-group>
                </td>
              </ng-container>
            </tr>
          </table>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<br /><br /><br /><br /><br />
